{% extends 'base.html.twig' %}

{% block title %}Pokemon - Home
{% endblock %}

{% block body %}
	{% if app.user %}
		<h1>Mis pokemons</h1>

		<div class="container-cards">

			{% if pokemons|length == 0 %}
				<i>No tienes pokemons...</i>
			{% else %}
				{% for pokemon in pokemons %}

					<div class="card">
						<img src="https://img.pokemondb.net/artwork/{{ pokemon.name|url_encode }}.jpg" alt={{ pokemon.name }}/>
						<h2>
							{{ pokemon.name }}
						</h2>
						<div>
							<span>Nivel:
								{{ pokemon.level }}</span>
							-
							<span>Fuerza:
								{{ pokemon.strength }}</span>
						</div>
					</div>

				{% endfor %}
			{% endif %}

		</div>
	{% endif %}
{% endblock %}
