{% extends 'base.html.twig' %}

{% block title %}Pokemon - Home
{% endblock %}

{% block body %}
	{% if app.user %}

		<h1>Tu Pokedex</h1>

		{% if pokedexPokemons is empty %}
			<p>No tienes ningún Pokémon en tu Pokedex.</p>
		{% else %}
			<div class="container-cards">
				{% for pokedexPokemon in pokedexPokemons %}
					<div class="card">
						<p>
							<b>Nombre:</b>
							{{ pokedexPokemon.pokemon.name }}</p><br>
						<p>
							<b>Tipo:</b>
							{{ pokedexPokemon.pokemon.type ? pokedexPokemon.pokemon.type|join(', ') : 'No especificado' }}</p><br>
						<p><img src="https://img.pokemondb.net/artwork/{{ pokedexPokemon.pokemon.name|url_encode }}.jpg" alt="Imagen de {{ pokedexPokemon.pokemon.name }}" width="100" height="100"/></p><br>
						<p>
							<b>Nivel:</b>
							{{ pokedexPokemon.level }}</p><br>
						<p>
							<b>Fuerza:</b>
							{{ pokedexPokemon.strength }}</p><br>
						
						<div>
							<a href="{{ path('pokemon_train', {'id': pokedexPokemon.id}) }}">
								<img src="{{ asset('images/icon-train.png') }}" style="width: 50px; height: 50px;" alt="Entrenar" />
							</a>
						</div>
						{% if pokedexPokemon.level >= 7  and pokedexPokemon.pokemon.evolution is not null %}
						<div class="evolution">
								<img src="{{ asset('images/poke-open.png') }}" style="width: 25px; height: 25px;" alt="pokeball" />
								<a href="{{path('pokemon_evolve', {'id': pokedexPokemon.id})}}">Evolucionar</a>
						</div>
							{% endif %}
					</div>
					<br><br>
				{% endfor %}
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
