{% extends 'base.html.twig' %}

{% block title %}PokemonApp - Usuario Atrapar
{% endblock %}

{% block body %}
	<h1>Cazar a {{ pokemon.name }} ({{ pokemon.type|join(', ') }})</h1>

	<img src="https://img.pokemondb.net/artwork/{{ pokemon.name|url_encode }}.jpg" alt="Imagen de {{ pokemon.name }}" width="200" height="200"/>


	<br>
	<a href="{{ path('app_user_catch') }}">Dejarlo escapar</a>
	<br>
	<a href="{{ path('app_user_throw', {'id': pokemon.id}) }}">
		<img src="../images/pokeball.jpg" alt="Imagen de una pokeball" width="50px" height="auto"/>
	</a>
	<br>
{% endblock %}
